[submodule "deltachat-core-rust"]
	path = deltachat-core-rust
	url = ../deltachat-core-rust.git
[submodule "deltachat-node"]
	path = deltachat-node
	url = ../deltachat-node.git
	branch = rust_devmode_branch
[submodule "deltachat-desktop"]
	path = deltachat-desktop
	url = ../deltachat-desktop.git
