[submodule "deltachat-core-rust"]
	path = deltachat-core-rust
	url = https://github.com/deltachat/deltachat-core-rust
[submodule "deltachat-node"]
	path = deltachat-node
	url = https://github.com/deltachat/deltachat-node
	branch = rust_devmode_branch
[submodule "deltachat-desktop"]
	path = deltachat-desktop
	url = https://github.com/deltachat/deltachat-desktop
